@charset "UTF-8";

body {
  background-color: #65db53;
  font-weight: bold;
  font: normal 20px Arial;
}

* {
  margin: 0px;
  padding: 0px;
}

main {
  background-color: white;
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  line-height: 2em;
  text-indent: 20px;
  margin-bottom: 30px;
}

main h2 {
  background-image: linear-gradient(to right, green, orange, transparent);
  border-radius: 10px;
}

article > h1 {
  background-image: linear-gradient(
    to right,
    rgb(76, 226, 56),
    green,
    transparent
  );
  border-radius: 10px;
}

header > h1 {
  text-align: center;
  font-style: italic;
}

header > p {
  margin-left: 20px;
  text-align: center;
}

.espaco {
  padding-bottom: 20px;
}

header {
  background-color: rgba(3, 122, 13, 0.849);
  padding-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

nav {
  margin-left: 20px;
}

img {
  width: 300px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

div.quadrado {
  display: inline-block;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.quadrado:hover {
  background-color: blue;
  transition: 1.5s;
}

footer {
  text-align: center;
  background-color: darkgrey;
  padding: 5px;
  color: white;
  margin-top: 15px;
}

footer p {
  font-size: 15px;
}

.rodape:hover {
  color: gold;
  transition: 1.5s;
}

.nav:hover {
  color: rgb(13, 241, 13);
  background-color: gray;
  border-radius: 10px;
  transition: 1s;
  padding: 10px;
}

.rodape {
  text-decoration: underline;
  font-size: 14px;
}
